.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-section {
  height: 200vh;
}

.inside-mouth {
  position: absolute;
  width: 100%;
}

.about-content {
  position: absolute;
  width: 100%;
  transform: translateY(50%);
}

.about-content h1 {
  font-size: 5rem;
  text-align: center;
  font-family: 'Font-On-A-Grain';
}

.about-content p {
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Ashcan';
  width: 100%;
}

@media (max-width: 768px) {
  .about-content {
    width: 80%;
  }

  .about-content h1 {
    font-size: 3rem;
  }

  .about-content p {
    font-size: 1.5rem;
  }
}
