footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-top: 1px solid var(--font-color);

    width: 80%;
    margin: 0 auto;
    position: relative;
}

footer .footer-heading {
    width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

footer .footer-heading h1 {
    font-size: 1.5rem;
    margin: 0;
    padding: 10px;
}

footer .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    gap: 40px;

    width: 80%;
    margin: 0 auto;
}

footer .footer-content .line {
    width: 100%;
    height: 1px;
    background-color: var(--font-color);
}

footer .footer-content .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    gap: 20px;
    position: relative;
    z-index: 10; 
}

footer .footer-content .socials a {
    font-size: 2rem;
    text-decoration: none;
    color: var(--font-color);
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
    pointer-events: auto;
    position: relative;
    z-index: 11; 
}

footer .footer-content .socials a:hover {
    transform: scale(1.1);
    color: var(--primary-color);
}

footer .footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 0 auto;
}

footer .footer-bottom h2 {
    font-size: 1rem;
    margin: 0;
    padding: 10px;
}

footer .footer-bottom p {
    font-size: 0.8rem;
    margin: 0;
    padding: 10px;
}

footer img {
    position: absolute;
    top: -125%;
    left: 0;

    width: 30%;
    height: auto;
    pointer-events: none;
}

@media (max-width: 768px) {
    footer {
        width: 95%;
    }

    footer .footer-heading {
        width: 90%;
        z-index: 2;
    }

    footer .footer-content {
        width: 90%;

        flex-direction: column;
        gap: 20px;
    }

    footer img {
        top: -90%;
        left: 25%;
        width: 50%;
    }

    footer .footer-heading h1 {
        font-size: 1.2rem;
    }

    footer .footer-content .socials a {
        font-size: 1.5rem;
    }

    footer .footer-bottom h2 {
        font-size: 0.8rem;
    }

    footer .footer-bottom p {
        font-size: 0.75rem;
    }
}
