.rules {
    width: 100%;
}

.rules h1 {
  font-size: 4rem;
  font-family: 'Font-On-A-Grain', 'Roboto';
}

.rules h2 {
  font-size: 2.5rem;
}

.rules p {
  font-size: 1.8rem;
}


@media (max-width: 768px) {
  .rules h1 {
    font-size: 3rem;
  }

  .rules h2 {
    font-size: 2rem;
  }

  .rules p {
    font-size: 1.2rem;
  }
}
