.carousel {
  width: 100%;
}

.carousel-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  height: 30rem;
  background: #2d2424;
  padding: 1rem 1rem;
}

.carousel-image {
  height: 100%;
  border-radius: 10px;
}

.carousel-image:hover {
  cursor: pointer;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

.fullscreen-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.fullscreen-container img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
