.mouth {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  pointer-events: none;
}

.upper, .lower {
  position: absolute;
  width: 100%;
  pointer-events: none;
}

.mouth-transition {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  pointer-events: none;
}

.scroll-button {
  position: fixed;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
  height: 7rem;
  width: 7rem;
  cursor: pointer;
  animation: bounce 1s infinite ease-in-out;
}

.scroll-button img {
  width: 100%;
  height: 100%;
}

@keyframes bounce {
  0%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-40px);
  }
}
