.mouth {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
}

.upper, .lower {
  position: absolute;
  width: 100%;
}

.mouth-transition {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
}
