body {
  overflow-x: hidden;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
}

.content .lhs-content .beer-drop {
  position: sticky;
  top: 50vh;
  left: 0;
  width: 18%;
  height: auto;
  border-radius: 50%;
  opacity: 1;
  padding-top: 2rem;
  margin-top: 80%;

  z-index: 4;
}

.content .lhs-content .beer-drop-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 87%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content .beer-image {
  height: auto;
  width: 100%;
  max-width: 35rem;
}

.beer {
  top: 0;
  position: absolute;
}

.guy {
  bottom: 0;
  z-index: 1;
  position: absolute;
}

@media (min-width: 768px) {
  .content {
    flex-direction: row;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .content .lhs-content {
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
  }

  .content .lhs-content #guy {
    width: 60%;
    height: auto;

    position: absolute;
    top: 110%;
  }

  .content .rhs-content {
    flex: 1.1;
    display: flex;
    gap: 5rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 20rem;
  }
}

@media (max-width: 768px) {
  .content {
    flex-direction: column-reverse;
    align-items: center;
  }

  .content .lhs-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    position: relative;
  }

  .content .lhs-content .beer-drop {
    width: 17%;
    height: auto;
  }
  
  .guy {
    position: relative;
  }

  .content .rhs-content {
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2rem;
    box-sizing: border-box;
  }
}

/* futu l in gura de css */
