.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
}

.content .beer-image {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .content {
    flex-direction: row;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .content .lhs-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
  }

  .content .lhs-content .beer-drop {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 0;
    animation: drip 5s ease-in-out infinite;

    z-index: 100;
  }

  .content .lhs-content #guy {
    width: 60%;
    height: auto;

    position: absolute;
    top: 110%;
  }

  .content .beer-image {
    width: 100%;
  }

  .content .rhs-content {
    flex: 1.1;
    display: flex;
    gap: 5rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  .content {
    flex-direction: column-reverse;
    align-items: center;
  }

  .content .beer-image {
    margin-bottom: 50%;
  }

  .content .lhs-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    position: relative;
  }

  .content .lhs-content .beer-drop {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    opacity: 0;
    animation: drip_mobile 3s ease-in-out infinite;
    z-index: 100;
  }

  .content .lhs-content #guy {
    width: 60%;
    height: auto;

    position: absolute;
    top: 90%;
    left: 20%;
  }

  .content .rhs-content {
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2rem;
    box-sizing: border-box;
  }
}

@keyframes drip {
  0% {
    top: 85%;
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    top: 110%;
    opacity: 0;
  }
}

@keyframes drip_mobile {
  0% {
    top: 83%;
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    top: 91%;

    opacity: 0;
  }
}