.countdown {
    font-size: 10px;
    width: 100%;

    /* not working */
    text-shadow: var(--backgroundColor) 0px 0px 40px;
}

.countdown .outer {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.countdown .outer .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
}

@media screen and (max-width: 768px) {
    .countdown {
        max-width: 100%;
        font-size: 17px;
    }
}