.footer {
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


    background: rgb(96, 108, 56);
    background: -moz-linear-gradient(90deg, rgba(96, 108, 56, 1) 0%, rgba(40, 54, 24, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(96, 108, 56, 1) 0%, rgba(40, 54, 24, 1) 100%);
    background: linear-gradient(90deg, rgba(96, 108, 56, 1) 0%, rgba(40, 54, 24, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#606c38", endColorstr="#283618", GradientType=1);
}

.footer .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .row .ftext {
    margin-top: 10px;

    background: #5B5B5B;
    background: linear-gradient(to right, #ffffff 0%, #fff8a6 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.footer .row .ftext.small {
    font-size: 12px;
}

.footer .margin {
    margin-bottom: 10px;
}

.footer .row .lcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .row .logo {
    height: 40px;
    width: auto;

    margin-right: 5px;
}

.footer .row .social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .row .social .icon {
    margin-left: 10px;
    margin-right: 10px;

    color: var(--secondaryColor);
}

.footer .line {
    height: 1px;

    border-top: 1px solid #fefae0;
}