.raysContainer {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 280vh;
    background-color: transparent;
    z-index: -2;
    --gradientDeg: 100deg;
}

$animationTime: 40s;
$opacityVal: 0.9;

.rayDiv {
    z-index: inherit;
    height: 100%;
    width: 100%;
    background-image: repeating-linear-gradient(var(--gradientDeg),
            transparent 0%,
            transparent 6%,
            white 12%,
            white 16%,
            transparent 18%,
            transparent 25%,
            white 34%,
            white 38%,
            transparent 41%,
            transparent 47%);
    ;
    background-size: 200% 100%;
    mask-image: linear-gradient(to bottom, black 0%, transparent 100%),
        radial-gradient(ellipse at 100% 0%, black 60%, transparent 80%);
    filter: blur(20px);
    animation: moveLeft $animationTime linear infinite, fade $animationTime linear infinite;
    background-attachment: fixed;
}

@keyframes moveLeft {
    0% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 400% 50%;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    5% {
        opacity: $opacityVal;
    }

    95% {
        opacity: $opacityVal;
    }

    100% {
        opacity: 0;
    }
}