.history {
    margin-top: 20px;
}

.mainCard {
    background-color: #C3D3B6;
    text-align: center;

}

.title {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}