:root {
    --primaryColor: #BC6C25;
    --primaryColorFade: #f9ad6b;
    --secondaryColor: #fefae0;
    --backgroundColor: #606c38d7;
    --backgroundColorFade: #283618a3;

    --page1: #faf9f0;
    --page2: #e4d88e;

    --ftext1: #ffffff;
    --ftext2: #fff8a6
}

body {
    margin: 0;
    width: 100%;

    overflow-x: hidden;

    background: rgb(235, 228, 187);
    background: -moz-linear-gradient(103deg, var(--page1) 0%, var(--page2) 100%);
    background: -webkit-linear-gradient(103deg, var(--page1) 0%, var(--page2) 100%);
    background: linear-gradient(103deg, var(--page1) 0%, var(--page2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ebe4bb", endColorstr="#fefae0", GradientType=1);

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.chtitle {
    padding-left: 20px;
    margin: 20px 0;
    font-size: 30px;

    background: var(--primaryColor);
    background: linear-gradient(to right, var(--primaryColor) 0%, var(--primaryColorFade) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    border-bottom: 1px solid var(--backgroundColor);
}

.chtext {
    font-size: 20px;
    font-weight: 500;
    margin-left: 2px;

    text-align: justify;
}

@media screen and (max-width: 768px) {
    .chtext {
        text-align: start;
    }
}

.chsubtitle {
    font-size: 25px;
}

.primary {
    color: var(--primaryColor);
}

.secondary {
    color: var(--secondaryColor);
}

.underlined {
    padding-bottom: 2px;
    border-bottom: 2px solid var(--primaryColor);
}

.bold {
    font-weight: 600;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(100deg, var(--backgroundColor) 0%, var(--backgroundColorFade) 100%);
}

.card.wmargin {
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}