:root {
    --primaryColor: #BC6C25;
    --secondaryColor: #fefae0;
}

body {
    margin: 0;
    width: 100%;
    background: radial-gradient(circle, rgba(217, 204, 119, 1) 0%, rgba(254, 250, 224, 1) 100%);

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.chtitle {
    padding-left: 20px;
    margin: 20px 0;
    font-size: 30px;

    background: var(--primaryColor);
    background: linear-gradient(to right, var(--primaryColor) 0%, #f9ad6b 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    border-bottom: 1px solid rgb(96, 108, 56);
}

.chtext {
    font-size: 20px;
    font-weight: 500;
    margin-left: 2px;

    text-align: justify;
}

.chsubtitle {
    font-size: 25px;
}

.primary {
    color: var(--primaryColor);
}

.secondary {
    color: var(--secondaryColor);
}

.underlined {
    padding-bottom: 2px;
    border-bottom: 2px solid var(--primaryColor);
}

.bold {
    font-weight: 600;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(96, 108, 56, 0.8435968137254902) 0%, rgba(40, 54, 24, 0.6391150210084033) 100%);
}

.card.wmargin {
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}