.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar .bg {
    width: 100%;
    filter: blur(3px);
}

.navbar .node {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.navbar .node.ttl {
    position: absolute;

    max-width: 90%;
}

.navbar .node.text {
    position: absolute;
    margin-top: 100px;
    
    max-width: 90%;

    justify-content: flex-end;
}

.navbar .node .item {
    margin: 0 10px;

    z-index: 1;

    color: var(--secondaryColor);
    font-weight: bold;

    cursor: pointer;
}

.navbar img {
    min-height: 100vh;
    
    object-fit: cover;
}

.navbar .item.scrollsection {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
}
.navbar .item.scrollsection:hover {

}
.navbar .item.scrollsection:hover::before {
    display: block;
    width: calc(100% - 20px);
}
.navbar .item.scrollsection::before {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 0;
    height: 5px;
    background-color: var(--primaryColor);
    transition: width 0.25s ease-in-out;
}
@media screen and (max-width: 768px) {
    .navbar .item.scrollsection {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 30px;
    }
    
    .navbar {
        flex-direction: column;
    }

    .navbar .node.text {
        justify-content: center;
        margin-top: 70px;

        font-size: 15px;
    }
}


.fire {
    text-shadow:
        0px -1px 3px #fff,
        0px -2px 6px #FF3,
        0px -6px 12px #F90,
        0px -10px 20px #C33;
        
    animation: flicker 2s infinite;

    color: #fefae0;
    font-weight: bold;

    font-size: 80px;
}

@keyframes flicker {

    0%,
    100% {
        text-shadow:
            0 -1px 3px #fff,
            0 -2px 6px #FF3,
            0 -6px 12px #F90,
            0 -10px 20px #C33;
    }

    50% {
        text-shadow:
            0 -2px 6px #fff,
            0 -4px 12px #FF3,
            0 -8px 16px #F90,
            0 -12px 24px #C33;
    }
}