#pictures {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 40px;
}

#pictures .pcontainer .pimg img {
    height: 400px;
    width: auto;
    object-fit: contain;

    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    #pictures .pcontainer {
        margin-top: 50px;
    }

    #pictures .pcontainer .pimg img {
        height: 300px;
    }
}
.slick-prev {
    left: -30px; 
}

.slick-prev:before, .slick-next:before {
    font-size: 24px; /* Adjust the size of the icon specifically */
}