#pictures {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 40px;
}

#pictures .pcontainer .pimg img {
    height: 400px;
    width: auto;
    object-fit: contain;

    margin-left: auto;
    margin-right: auto;
}

.mint {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 30vh;
}

@media (max-width: 900px) {
    #pictures .pcontainer {
        margin-top: 50px;
    }

    .mint {
        margin: 10px;
    }
}

@media (max-width: 768px) {
    #pictures .pcontainer {
        margin-top: 50px;
    }

    #pictures .pcontainer .pimg img {
        height: 300px;
    }

    .mint {
        margin: 30px;
    }

}


.slick-prev {
    left: -30px;
}

.slick-prev:before,
.slick-next:before {
    font-size: 24px;
}