#pictures {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 40px;
}

#pictures .pcontainer {
    margin-bottom: 10px;
}

#pictures .pcontainer .pimg img {
    height: 400px;
    width: auto;
    object-fit: contain;

    margin-left: auto;
    margin-right: auto;
}

#pictures .pcontainer .pimg video {
    height: 400px;
    width: auto;
    object-fit: contain;

    margin-left: auto;
    margin-right: auto;
}

.pictures .minh {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 30vh;
}

@media (max-width: 900px) {
    #pictures .pcontainer {
        margin-top: 50px;
    }

    .pictures .minh {
        margin: 10px;
    }
}

@media (max-width: 768px) {
    #pictures .pcontainer {
        margin-top: 50px;
        position: relative;
    }

    #pictures .pcontainer .pimg img {
        height: 200px;
        width: auto;
    }

    #pictures .pcontainer .pimg video {
        height: 200px;
        width: auto;
    }

    .pictures .minh {
        margin: 30px;
    }

}

.slick-prev {
    left: -30px;
}

.slick-prev:before,
.slick-next:before {
    font-size: 24px;
}

.buttonHolderPrev {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}
.buttonHolderNext {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.button-back {
    width: 50px;
    height: 50px;
    position: relative;
    background-color: red;
}

.button-next {
    width: 50px;
    height: 50px;
    position: relative;
    background-color: red;
}