.post-paper {
    width: 100%;
}

.post-text {
    padding: 5px;
    text-align: justify;
    white-space: pre-line
}

.heading {
    font-weight: bold;
}

.post-image {
    width: 100%;
}

@media only screen and (min-width: 320px) {
    .post-text {
        font-size: 16px;
    }

    .heading {
        font-size: 30px;
        margin-bottom: 14px;
    }
}

@media only screen and (min-width: 768px) {
    .post-text {
        font-size: 22px;
    }

    .heading {
        font-size: 30px;
        margin-bottom: 16px;
    }
}

@media only screen and (min-width: 1280px) {
    .post-text {
        font-size: 25px;
    }

    .heading {
        font-size: 30px;
        margin-bottom: 20px;
    }
}