.rules {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rules .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}