.rules {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 40px;
}

.rule .into {
    position: relative;
    left: -1em;
    margin-bottom: 1em;
}

.rules .node {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.rules .node.left {
    padding-right: 30px;
}

.rules .node.right {
    border-left: 5px solid var(--primaryColor);

    padding-left: 10px;
}

.rule {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;

    width: 100%;
}

.rule .header {
    display: flex;
    align-items: center;
}

.rule .subtitle {
    font-size: 23px;
    margin-bottom: 10px;
    color: var(--primaryColor);
}

.rule .icon {
    margin-left: 10px;
    padding-top: 3px;
}

.rule .text {
    font-size: 18px;
}

@media (max-width: 768px) {
    .rules .node.left {
        margin-bottom: 20px;
    }

    .rules .subtitle {
        font-size: 20px;
    }
}