.timer-box-middle {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
}

.timer-box-left {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer-box-right {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 320px) {
    .text {
        font-size: 18px;
    }
}

@media only screen and (min-width: 768px) {
    .text {
        font-size: 25px;
    }
}

@media only screen and (min-width: 1280px) {
    .text {
        font-size: 50px;
    }
}