.upcoming {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.upcoming .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.upcoming .row.between {
    justify-content: space-between;
}

.upcoming .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upcoming img {
    width: 45vw;
    height: auto;
    max-width: 100%;

    border-radius: 25px;
}

.upcoming .calendar {
    width: auto;
    height: auto;
}

.upcoming .minh {
    min-height: 350px;
}

.upcoming .map {
    margin-bottom: 10px;
}

.upcoming a {
    text-decoration: none;
    color: var(--secondaryColor)
}

.upcoming a:hover {
    color: var(--primaryColor)
}

.upcoming .map iframe {
    width: 100%;
    height: 100%;
    border: none;
}

@media screen and (max-width: 768px) {
    .upcoming {
        flex-direction: column;
        justify-content: center;
    }

    .upcoming .row {
        flex-direction: column;
        justify-content: center;
    }

    .upcoming img {
        margin-bottom: 10px;
        width: 90vw;
    }

    .upcoming .row.between {
        justify-content: center;
    }
}