.upcoming {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.upcoming .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.upcoming .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

a,
a:visited {
    color: var(--secondaryColor);
    text-shadow: rgba(24, 118, 242, 1) 0px 0px 30px;
}

.upcoming .minh {
    min-height: 10vh;
}

.upcoming .minhv {
    min-height: 20vh;
    width: auto;
}